n8n-workflows/IA Agent.json
{
  "name": "IA Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "9a501f97-b6a6-4bb8-b036-de2b709111ff",
      "name": "When chat message received",
      "webhookId": "7f327289-d741-47f8-8540-baa68d111a70"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7b2d6fab-3edb-4ccb-8ec9-bfda9361aca2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        0
      ],
      "id": "3fb75f5b-1670-4c56-92bc-f36982f571c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "586c5ed8-0e7c-41b0-8885-0c28730a664c",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5eab5411-41a6-48c7-afe0-0dbf4faa52e3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "41922e6c-aa34-4589-9084-a5e7ae411024",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc82e7329b83cf06b81b18d5e5eb2d80d4d30fa52bef032c2bde08fc47656c75"
  },
  "id": "QSKAr5r90bVoxp4m",
  "tags": []
}